@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2hcgkj');
  src:  url('fonts/icomoon.eot?2hcgkj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2hcgkj') format('truetype'),
    url('fonts/icomoon.woff?2hcgkj') format('woff'),
    url('fonts/icomoon.svg?2hcgkj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-bar-horizontal-duotone-1:before {
  content: "\e9a8";
  color: #0a65cc;
}
.icon-first-aid-kit-duotone-1:before {
  content: "\e9a9";
  color: #0a65cc;
}
.icon-megaphone-simple-duotone-1:before {
  content: "\e9aa";
  color: #0a65cc;
}
.icon-monitor-play-duotone-1:before {
  content: "\e9ab";
  color: #0a65cc;
}
.icon-music-notes-duotone-1:before {
  content: "\e9ac";
  color: #0a65cc;
}
.icon-pen-nib:before {
  content: "\e9ad";
  color: #0a65cc;
}
.icon-chevron-up:before {
  content: "\e900";
}
.icon-arrow-lefr:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-send:before {
  content: "\e909";
}
.icon-chat-text:before {
  content: "\e90a";
}
.icon-chat:before {
  content: "\e90d";
}
.icon-cake-solid:before {
  content: "\e90e";
}
.icon-star-outline:before {
  content: "\e911";
}
.icon-notebook:before {
  content: "\e912";
}
.icon-user-list:before {
  content: "\e913";
}
.icon-identification-card:before {
  content: "\e914";
}
.icon-users-1:before {
  content: "\e918";
}
.icon-check-dual:before {
  content: "\e91c";
}
.icon-upload:before {
  content: "\e91d";
}
.icon-circle-menu:before {
  content: "\e924";
}
.icon-file-text:before {
  content: "\e926";
}
.icon-trash:before {
  content: "\e92f";
}
.icon-url:before {
  content: "\e930";
}
.icon-settings:before {
  content: "\e931";
}
.icon-person:before {
  content: "\e932";
}
.icon-close-circle:before {
  content: "\e93f";
}
.icon-sign-out:before {
  content: "\e941";
}
.icon-close:before {
  content: "\e942";
}
.icon-instagram-outline:before {
  content: "\e943";
}
.icon-email .path1:before {
  content: "\e948";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-email .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-email .path3:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-email .path4:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-email .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-globe .path1:before {
  content: "\e958";
  color: rgb(231, 240, 250);
}
.icon-globe .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(10, 101, 204);
}
.icon-globe .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(10, 101, 204);
}
.icon-globe .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(10, 101, 204);
}
.icon-download:before {
  content: "\e95c";
}
.icon-file:before {
  content: "\e95d";
}
.icon-clipboard-text:before {
  content: "\e95e";
}
.icon-map:before {
  content: "\e95f";
}
.icon-cake:before {
  content: "\e960";
}
.icon-filter:before {
  content: "\e961";
}
.icon-location-pin:before {
  content: "\e962";
}
.icon-timer:before {
  content: "\e963";
}
.icon-calendar-blank:before {
  content: "\e964";
}
.icon-massage:before {
  content: "\e965";
}
.icon-link:before {
  content: "\e966";
}
.icon-category:before {
  content: "\e967";
}
.icon-bookmark-solid:before {
  content: "\e968";
}
.icon-grid-line:before {
  content: "\e969";
}
.icon-ringing:before {
  content: "\e96a";
}
.icon-calendar:before {
  content: "\e96b";
}
.icon-location-outline:before {
  content: "\e96c";
}
.icon-database .path1:before {
  content: "\e96d";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-database .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-database .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-database .path4:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-monitor-play .path1:before {
  content: "\e971";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-monitor-play .path2:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-monitor-play .path3:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-monitor-play .path4:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-first-aid .path1:before {
  content: "\e975";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-first-aid .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-first-aid .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-first-aid .path4:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-first-aid .path5:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-code:before {
  content: "\e97a";
}
.icon-music .path1:before {
  content: "\e97b";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-music .path2:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-music .path3:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-music .path4:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-music .path5:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-music .path6:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pen .path1:before {
  content: "\e981";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-pen .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pen .path3:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pen .path4:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pen .path5:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-circle-wavy-check .path1:before {
  content: "\e986";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-circle-wavy-check .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-circle-wavy-check .path3:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-search-plus .path1:before {
  content: "\e989";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-search-plus .path2:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-search-plus .path3:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-search-plus .path4:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-search-plus .path5:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user-plus .path1:before {
  content: "\e98e";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-user-plus .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user-plus .path3:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user-plus .path4:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user-plus .path5:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-search:before {
  content: "\e993";
}
.icon-location:before {
  content: "\e994";
}
.icon-users .path1:before {
  content: "\e995";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-users .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-users .path3:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-users .path4:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-users .path5:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path1:before {
  content: "\e99a";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-buildings .path2:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path3:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path4:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path5:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path6:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path7:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path8:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-buildings .path9:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-case .path1:before {
  content: "\e9a3";
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-case .path2:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-case .path3:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-case .path4:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-case .path5:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-down-circle:before {
  content: "\e902";
}
.icon-arrow-right-circle:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-calendar-outline:before {
  content: "\e90b";
}
.icon-call:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90f";
}
.icon-checkmark-circle:before {
  content: "\e910";
}
.icon-chevron-down:before {
  content: "\e915";
}
.icon-chevron-left:before {
  content: "\e916";
}
.icon-chevron-right:before {
  content: "\e917";
}
.icon-chevron-up-down:before {
  content: "\e919";
}
.icon-clocks:before {
  content: "\e91a";
}
.icon-copy-outline:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e91f";
}
.icon-energy:before {
  content: "\e920";
}
.icon-eye:before {
  content: "\e921";
}
.icon-eye-off-outline:before {
  content: "\e922";
}
.icon-facebook:before {
  content: "\e923";
}
.icon-flag:before {
  content: "\e925";
}
.icon-graduation:before {
  content: "\e927";
}
.icon-grid:before {
  content: "\e928";
}
.icon-heart-outline:before {
  content: "\e929";
}
.icon-heart-solid:before {
  content: "\e92a";
}
.icon-home:before {
  content: "\e92b";
}
.icon-home-outline:before {
  content: "\e92c";
}
.icon-info:before {
  content: "\e92d";
}
.icon-instagram:before {
  content: "\e92e";
}
.icon-lock-closed:before {
  content: "\e933";
}
.icon-log-in:before {
  content: "\e934";
}
.icon-log-out:before {
  content: "\e935";
}
.icon-mail:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e937";
}
.icon-notification:before {
  content: "\e938";
}
.icon-phone:before {
  content: "\e939";
}
.icon-play:before {
  content: "\e93a";
}
.icon-play-fill:before {
  content: "\e93b";
}
.icon-plus:before {
  content: "\e93c";
}
.icon-presentation:before {
  content: "\e93d";
}
.icon-quote-mark:before {
  content: "\e93e";
}
.icon-refresh:before {
  content: "\e940";
}
.icon-share:before {
  content: "\e944";
}
.icon-shopping-cart:before {
  content: "\e945";
}
.icon-shopping-cart-check:before {
  content: "\e946";
}
.icon-star:before {
  content: "\e947";
}
.icon-telegram:before {
  content: "\e949";
}
.icon-thumb:before {
  content: "\e94b";
}
.icon-thumb-down:before {
  content: "\e94c";
}
.icon-trophy:before {
  content: "\e94e";
}
.icon-twitter:before {
  content: "\e94f";
}
.icon-user:before {
  content: "\e951";
}
.icon-user-circle:before {
  content: "\e952";
}
.icon-vertical-menu:before {
  content: "\e953";
}
.icon-warning:before {
  content: "\e954";
}
.icon-x-mark:before {
  content: "\e955";
}
.icon-youtube:before {
  content: "\e956";
}
