@import "../icomoon/style.css";
html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  font-weight: 400;
  color: var(--el-color-primary);
}
