@font-face {
  font-family: 'inter';
  src:
    url('@/assets/font/Inter-Black.ttf') format('opentype'),
    url('@/assets/font/Inter-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src:
    url('@/assets/font/Inter-Extrabold.ttf') format('opentype'),
    url('@/assets/font/Inter-Extrabold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src:
    url('@/assets/font/Inter-Bold.ttf') format('opentype'),
    url('@/assets/font/Inter-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src:
    url('@/assets/font/Inter-Regular.ttf') format('opentype'),
    url('@/assets/font/Inter-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src:
    url('@/assets/font/Inter-Light.ttf') format('opentype'),
    url('@/assets/font/Inter-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

