@import "@/assets/scss/variables/variables";

.jobs {
  &__tab {
    padding: 24px 0;
    background-color: $bg-color-jobstab;
  }

  &__title {
    color: #18191c;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
  }

  &__navi {
    display: flex;
    align-items: center;
  }

  &__navi-link {
    color: #767f8c;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
  }

  &__list {
    margin-top: 48px;
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    gap: 20px;
  }
}

.active {
  margin-left: 5px;
  color: #18191c;
}
